<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Ghibli">
  <title>So bad it's good</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="/images/favicon.ico" rel="shortcut icon">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
  <header class="hero">
    <div class="app-title">
      <h1 class="MainH1">SO BAD, IT'S GOOD!</h1>
    </div>
    <div>
      <nav class="container">
        <ul class="nav row justify-content-left">
          <li class="li-inline nav-link col-sm-auto"><a href="/">Homepage</a></li>

          <li class="li-inline nav-link col-sm-auto"><a href="/search">Search for a movie</a></li>
          <!-- Conditionally render login link with UNLESS-->
          {{#if loggedIn}}
          <li class="li-inline nav-link col-sm-auto"><a href="#" id="logout-link">Logout</a></li>
          {{else}}
          <li class="li-inline nav-link col-sm-auto"><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </div>


  </header>

  <main id="search-body">
    {{{body}}}
  </main>

  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}


  <footer class="footer">
    &copy; 2023 SoBadItsGood
  </footer>
</body>

</html>