<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
<div class="container">
  <div class="homepage-options">
    <h2 class="text-centre"><a href="/search">Search</a> for movie</h2>
  </div>
  <div class="homepage-options">
    <h2 class="text-centre"><a href="/login">Sign in</a> to review</h2>
  </div>
  <div class="homepage-options">
    <h2 class="text-centre">Already signed up? <a href="/login">Log in here</a></h2>
  </div>
</div>