<h1>Movie Review</h1>

<div"flex align-content-center">
<form "flex align-content-center">
<textarea formmethod="post" name="comments" id="movieComments" style="width:96%;height:150px;padding:2%;font-size:1.2em;background:url('https://gallery.yopriceville.com/var/resizes/Backgrounds/Cinema_Background.jpg?m=1399672800');background-position:center center;background-repeat:no-repeat;">
Enter your comments here...
{{review_string}}
</textarea>
         <input id="reviewBtn" type="submit" value="Submit">
      </form>
</div>

<script src="/js/reviews.js"></script>