<h1>Search </h1>

<label>Search by Movie name:</label>
<input id="Movie-input" type="text" placeholder="Movie Name" />
<button class="button" id="movieBtn">Search</button>

<label>Search by Movie By Genre:</label>
<input id="Genre-input" type="text" placeholder="Movie Name" />
<button class="button" id="genreBtn">Search</button>


<script src="/js/search.js"></script>