<h1>Search </h1>
<div "flex justify-content-row">
  <label>Search by Movie name:</label>
  <input id="Movie-input" type="text" placeholder="Movie Name" />
  <button class="button" id="movieBtn">Search</button>
  </br>
  </br>

  <section id="search-results"></section>

  <script src="/js/search.js"></script>
  <script src="/js/reviews.js"></script>