<h1>Search </h1>
<div "flex justify-content-row">
  <label>Search by Movie name:</label>
  <input id="Movie-input" type="text" placeholder="Movie Name" />
  <button class="button" id="movieBtn">Search</button>
  </br>
  </br>
  <div>
    <h5>Search by genre</h5>
    <a>Action</a>
    <a>Horror</a>
    <a>Comedy</a>
    <a>Animation</a>
    <a>Documentary</a>
    <a>Drama</a>
    <a>Romance</a>
    <a>Thriller</a>
  </div>


  <section id="search-results"></section>

  <script src="/js/search.js"></script>
  <script src="/js/reviews.js"></script>